<!DOCTYPE html>
<html>
  <head>
    <title>coach.me</title>
<<<<<<< HEAD
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% stylesheets 'bundles/gipsydangerindex/css/*' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">coach.me</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">Find a Coach</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
	          <li><a href="#join">Join</a></li>
            <li><a href="#login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
=======
    <meta name="viewport" content="width=devicewidth, initialscale=1.0">
    <! Bootstrap >
    {% block stylesheets %}
    	{% stylesheets '../app/Resources/public/css/*' %}
    		<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ bootstrap.min.css }}"/>
    		<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ bootstrap-glyphicons.css }}"/>
    		<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ global.css }}"/>
    	{% endstylesheets %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbarinverse navbarfixedtop">
      <div class="container">
        <button type="button" class="navbartoggle" datatoggle="collapse" datatarget=".navcollapse">
          <span class="iconbar"></span>
          <span class="iconbar"></span>
          <span class="iconbar"></span>
        </button>
        <a class="navbarbrand" href="#">coach.me</a>
        <div class="navcollapse collapse">
          <ul class="nav navbarnav">
            <li><a href="#about">Find a Coach</a></li>
          </ul>
          <ul class="nav navbarnav pullright">
            <li><a href="#join">Join</a></li>
            <li><a href="#login">Login</a></li>
          </ul>
        </div><!/.navcollapse >
>>>>>>> 1ec2433ffc2f1f52253a8a35c6ce402bcf524e17
      </div>
    </div>

    <div class="container">

<<<<<<< HEAD
      <div class="starter-template">
=======
      <div class="startertemplate">
>>>>>>> 1ec2433ffc2f1f52253a8a35c6ce402bcf524e17
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

<<<<<<< HEAD
    </div><!-- /.container -->

    <!-- JavaScript plugins (requires jQuery) -->
    {% javascripts '@gipsydangerindexBundle/Resources/public/js/*' %}
       <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- Optionally enable responsive features in IE8 -->
  </body>
</html>
=======
    </div><! /.container >

    <! JavaScript plugins (requires jQuery) >
    {% block javascripts %}
    	{% javascripts '../app/Resources/public/js/*' %}
    		<script type="text/javascript" src="{{ bootstrap.min.js }}"></script>
    		<script type="text/javascript" src="{{ jquery-1.10.2.min.js }}"></script>
    	{% endjavascripts %}
    {% endblock %}
  </body>
</html>
>>>>>>> 1ec2433ffc2f1f52253a8a35c6ce402bcf524e17
